<%- include("../partials/header.ejs") %>

<p>
    <%= welcomeMessage %></p>

<ul>
    <li><a href="/balance">View balance</a></li>
    <li><a href="/move-to-adam">Make Transfers</a></li>
</ul>


<%- include("../partials/footer.ejs") %>
