<!doctype html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <div class="main-title"><h1><%= pageTitle %></h1></div>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="icon" href="favicon.ico">
    <script src="https://kit.fontawesome.com/6c05f714b3.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <nav class="nav">
            <a href="/bank/index">Home</a> |
            <a href="/bank/balance">Balance</a> | 
            <a href="/bank/move-to-adam">Payments</a>
        </nav>
    </header>
