
<h2><%= message %></h2>

<%- include("../eshop/orders-before-finalizing.ejs") %>

<a href="/customer" class="btn btn-success"><button type="submit">Create another order</button></a>

<%- include("../partials/footer.ejs") %>
